<header class="bg-white p-4 flex items-center justify-between fixed w-full top-0 mx-auto">
  <div class="flex items-center space-x-4">
      <a href="#">
          Campus Coloc
      </a>
  </div>
  <div class="flex items-start space-x-4">
      <a href="#"> Accueil</a>
      <a href="#">Offres</a>
      <a href="#">Demandes</a>
  </div>
  <div class="flex items-center space-x-4">
      <button>Connexion</button>
      <button>Inscription</button>
      <a href="#"><i class="pi pi-bell"></i></a>
      <a href="#"><i class="pi pi-envelope"></i></a>
      <img class="inline-block h-6 w-6 rounded-full ring-4 ring-gray" src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
  </div>
</header>

<router-outlet />
